body{
	margin: 0;
	padding: 0;
	justify-content: space-around;
  	align-items: center;
}

.container{
  display: grid; 
}

p{
	padding: 4px;
	margin: 5px;
	border-bottom: 1px solid black;

}

img{
	height: 240px;
	width: 480px;
}